@media print {
    header,nav,footer,.footer,.footer-copyright,.sidebar {
        display: none;
    }
    @page {
        margin: 0.5cm;
    }
    .col-xs-11 {
        width: 80%;
        padding-right: 0;
        padding-left: 0;
    }
    .col-xs-1 {
        width: 20%;
    }
    img {
        width: 100% !important;
        height: 100px;
    }
}